<app-pet-filter></app-pet-filter>

<mat-card class='featured-pets'>
    <mat-card-header>
        <mat-card-title>Featured Pets</mat-card-title>
    </mat-card-header>
    <mat-grid-list class='featured-pets-list' cols="4">
        <mat-grid-tile *ngFor='let pet of featuredPets' class="featured-pets-tile">
            <a [routerLink]="['/pet', pet.id]">
                <mat-card class="featured-pet-card">
                    <mat-card-header>
                        <mat-card-title>{{pet.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image class='image' src={{pet.picture}} />
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
