<mat-card>
    <mat-card-header>
        <mat-card-title>Pet Adoption Site!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <h3>Find the right pet for you, right here.</h3>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-divider></mat-divider>
</mat-card>

<!--Implement pet filters here-->

<mat-card>
    <mat-card-header>
        <mat-card-title>Featured Pets</mat-card-title>
    </mat-card-header>
    <mat-grid-list class='featured-pets-list' cols="4">
        <mat-grid-tile *ngFor='let pet of featuredPets' class="featured-pets-tile">
            <mat-card class="featured-pet-card">
                <mat-card-header>
                    <mat-card-title>{{pet.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <a [routerLink]="['/pet', pet.id]">
                        <img class='image' mat-card-image src={{pet.pictures[0]}} />
                    </a>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
