.pet-type-filter {
    display: inline-flex;
}

.pet-age-filter {
    display: inline-flex;
}

.pet-gender-filter {
    display: inline-flex;
}

.pet-type-options {
    list-style-type: none;
}

.pet-breed-filters {
    list-style-type: none;
}